.service-navigation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(127px, 1fr));
  column-gap: 46px;

  @media (min-width: @tablet-width) {
    column-gap: 16px;
  }

  &__column {
    justify-self: center;
  }

  &__row {
    display: grid;
    row-gap: 34px;
  }

  &__category {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
  }

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__list-right {
    justify-content: end;
  }

  &__link {
    color: #222;
    font-size: 12px;
    line-height: 14px;
  }
}
