.service-navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__list-right {
    justify-content: end;
  }

  &__link {
    color: #222;
    font-size: 12px;
    line-height: 14px;
  }
}
